<form method="post" class="rate-action-button" action="{{ path('exchange_rate_delete', {'id': exchange_rate.id}) }}" onsubmit="return confirm('Are you sure you want to delete this rate?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exchange_rate.id) }}">
    <button class="text-danger delete-form-button" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
</form>
