{% extends 'base.html.twig' %}

{% block title %}Add New Exchange Rate{% endblock %}

{% block body %}
    {{ include('exchange_rate/breadcrumb.html.twig', {'action': 'new'}) }}
    <div class="row page-header">
        <div class="col-12 col-sm-6">
            <h2>Add New Exchange Rate</h2>
        </div>
        <div class="col-12 col-sm-6 align-items-center justify-content-end d-flex">
            <a href="{{ path('exchange_rate_index') }}" class="btn btn-success btn-sm">&laquo; Back to list</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            {{ include('exchange_rate/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
